@font-face {
    font-family: "Torus Notched";
    src: url("./font/torus.ttf"
        );
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pulse-anim {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #000;
    margin: 100px auto 0;
    box-shadow: 0 0 0 0 #000;
    animation: pulse 1.3s infinite;
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 18px rgba(0, 0, 0, 0.01);
    }
}

/********* nope-anim */
.nope-anim {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #000;
    margin: 100px auto 0;
    cursor: pointer;
}

.nope-anim:hover {
    animation: nope .4s forwards;
}

@keyframes nope {
    0% {
        transform: translateX(0px);
    }

    20% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(10px);
    }

    60% {
        transform: translateX(-10px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0px);
    }
}

/****** APPARITION  *****/
h1 {
    font-family: "Torus Notched";
    margin-top: 50px;
    text-align: center;
    font-size: 15vw;
    animation: apparition 1s ease-out;
}

@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(-500px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}